
<div class="inside_container">
	<h2>Equipment Documents</h2>
	<div class="big_box">
		<div class="inside_container_left">
			<div class="box_container">
				<div class="box_label">Equipment Make</div>
				<div id="eqp-inner_box" class="box">
					<%= render :partial => 'equipment_list' %>
				</div>
			</div>
			<div class="box_container">
				<div class="box_label">Model No.</div>
				<div id="mdl-inner_box" class="box">
					<%= render :partial => "/model/view_model" %>
				</div>
			</div>
		</div>
		<div id="docs_container">
			<%= render :partial => "docs_container" %>	
		</div>
	</div>
</div>