<div class="more_container">
	<h2>Aliquam a pulvinar elit</h2>
	<%= image_tag("iphone_hand.jpg", :class => "img_right", :size => "250x225", :title => "iphone") %>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut condimentum erat, at volutpat velit. Praesent vel felis in neque euismod egestas. Sed porttitor tincidunt diam. Nunc sed mattis enim.</p>
	<%= image_tag("monitor.jpg", :class => "img_left", :size => "250x225", :title => "monitor") %>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a pulvinar elit, eu consectetur risus. Cras pellentesque at odio non fringilla. Aenean ornare quam nec.</p>
</div>