<% if !@docs.blank? %>
	<% @docs.each do |d| 
		ext = File.extname(d.filepath) %>
	<div class="docs_list">
		<% if can? :update,Document %> 
		<div class='edit_delete_icon'>
			<%= link_to image_tag("edit.png", :size => "14x14", :alt => "Edit Model"), "javascript:edit_document(#{d.id})", :id => d.id %>
			<%= link_to image_tag("deletered.png", :size => "14x14", :alt => "Delete Model"), "javascript:remove_document(#{d.id})", :id => d.id %>
		</div>
		<% end %>
		<%= link_to "#{d.name}#{ext}", { :controller=>"documents", :action=>"get_file", :id => "#{d.id}" } %>
	</div>
	<% end
else %>
	<p>There are no docs for this model.</p>
<% end %>
