// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.docs_list{
	width: 200px;
	float: left;
	margin: 2px 4px;
	font-size: 12px;
	
	height: 25px;
	text-align: center;
	line-heght: 0px;
}

.edit_delete_icon{
	float: left;
	margin-right: 4px;
}