/// Place all the styles related to the equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Standard Colors */
$grayMediumLight: #eaeaea;
$offWhiteLittle: #FEFEFE;
$darkBlue: #3399FF;
$border1color: #000000;
$border2color: #eaeaea;
$text1color: #AF9F99;
$selectedBackground: #F0F0F4;

#searchBoxOne{
    float:right;
}
#search_box{
    font-size: 12px;
    color: $text1color;
    width: 150px;
    padding: 2px;
    border: 1px solid $text1color;
}

#search_container{
  display: none;
  overflow: auto;
  background-color: $grayMediumLight;
  padding: 5px;
  max-height: 300px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  margin: 0 0 20px 0;
}

#search_container p{
  border-bottom: 1px solid $darkBlue;
  font-size: 14px;
}

#search_container h5{
  float: left;
  font-size: 14px;
}

.big_box{
  overflow: auto;
}

.big_box .inside_container_left{
  border-right: 1px solid $darkBlue;
}

.box_container{
  width: 200px;
  padding: 5px;
}

.box_label{
  text-align: center;
  color: #000000;
  font-size: 1.4em;
  padding: 20px 0 10px 0;
}

.box{
  border: 1px solid $darkBlue;
  
}

.box div{
  margin: 2px 0;
  padding: 0 5px;

}

.box .box_tag:hover{
  cursor: pointer;
  color: $darkBlue;
}

.box a{
  text-decoration: none;
}

.box_selected{
  background-color: $selectedBackground;
  color: $darkBlue;
}

.box .box_header{
  border-bottom:1px solid $border2color;
  text-align: center;
  margin:0 2px 8px 2px;
  font-size: 1.2em;
  font-weight: bold;
  color: $darkBlue;

}

.box .inner_box{
  overflow-y: auto;
  max-height: 250px;
  white-space: nowrap;
  color: $text1color;
  
}

.box .box_footer{
  border-top:1px solid $border2color;
  text-align: center;
  margin: 8px 2px 0px 2px;
  font-size: 1.2em;
  font-weight: bold;
  color: $darkBlue;

}

.box .box_footer div{
  margin: 0 auto;
  width: 100px;
  padding: 0 0 2px 0;
}

.box .box_header_name{
  white-space:nowrap; 
  overflow:hidden;
  text-overflow:ellipsis;
  margin: 0 auto;
}

.box .update_container{
  
}

.clickable_div:hover{
  cursor: pointer;
  color: $text1color;
}

#docs_container{
  float: left;
  padding: 20px;
  width: 650px;
}

#upload_docs_container{
  background-color: $grayMediumLight;
  display: none;
  padding: 5px;
}

#file_upload_toggle{
  display: block;
}

#forms_container{
  background-color: $grayMediumLight;
  display: none;
  border-radius: 5px;
}